{% extends "base.html" %}{% load static %} {% load static tailwind_tags %}

<!-- css -->
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.1/css/dataTables.tailwindcss.css">
{% endblock css %}

<!-- js_head -->
{% block js_head %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.tailwindcss.com/"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.tailwindcss.js"></script>
<script src="https://cdn.tailwindcss.com/"></script>
{% endblock js_head %}

<!-- content -->
{% block content %}
<div class="px-4 pt-6">
  <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 h-[65vh]">
    <div class="mx-auto h-full overflow-x-auto shadow-md sm:rounded-lg ">
        <!-- Start coding here -->
        <div class="bg-white dark:bg-gray-800 relative overflow-hidden p-5">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col" class="px-6 py-3">Created</th>
                        <th scope="col" class="px-6 py-3">Name</th>
                        <th scope="col" class="px-6 py-3">Email</th>
                        <th scope="col" class="px-6 py-3">Username</th>
                        <th scope="col" class="px-6 py-3">Phone</th>
                        <th scope="col" class="px-6 py-3">City</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in verification %}
                    <tr>
                        <td class=""><a href="" class="text-blue-500 hover:underline">{{ user.last_updated }}</a></td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.user.username }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.city }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </section>
</div>
{% endblock content %}

<!-- javascript -->
{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>
{% endblock javascripts %}
