{% extends "base.html" %}{% load static %} {% load static tailwind_tags %}

<!-- css -->
{% block css %}{% endblock css %}

<!-- js_head -->
{% block js_head %}{% endblock js_head %}

<!-- content -->
{% block content %}
<div class="grid dark:bg-gray-900">
  <!-- Right Content -->
  <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <h3 class="mb-4 text-xl font-semibold dark:text-white">Send Email</h3>          
      <form action="#">
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Email</label>
              <select id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                  <option selected="">Please select one...</option>
                  <option value="arli.0504@gmail.com">arli.0504@gmail.com</option>
                  <option value="arliramdhani@gmail.com">arliramdhani@gmail.com</option>
              </select>
            </div>
            <div class="sm:col-span-2">
                <label for="emailSubject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Subject</label>
                <input type="text" name="emailSubject" id="emailSubject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Email Subject" required="">
            </div>
            <div class="sm:col-span-2">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message</label>
                <textarea id="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
            </div>
        </div>
        <button type="submit" class="inline-flex items-center px-4 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
          Send
        </button>
    </form>
  </div>   
</div>
{% endblock content %}

<!-- javascript -->
{% block javascript %}{% endblock javascript %}
